.button-container {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-100%, 0);
    z-index: 50;
  }

  .ai-generate-button {
    display: flex;
    align-items: center;
    font-size: 0.75rem;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    border: 1.2px solid #2871E6;
    background-color: white;
    color: #414750;
    transition: all 0.2s;
    font-weight: 700;
  }
  
  .ai-generate-button:hover {
    background-color: #EDF4FF;
    color: #2871E6;
  }

  .ai-generate-button-edit {
    background-color: #C7DDFF;
    color: #2871E6;
  }

  .toolBarCompo {
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}
