
ul {
    list-style-type: none;
  }
  
  li::before {
    content: "\2022";  /* 유니코드 불릿 포인트 */
    color: #000000;  /* 파란색 (Tailwind의 blue-500에 해당) */
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .highlight-container {
    position: relative;
    display: inline-block;
  }
  
  .highlight-text {
    position: relative;
    z-index: 1;
  }
  
  .highlight-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    height: 70%;
    background-color: #fde047; /* Tailwind's yellow-300 */
    border-radius: 0.5rem; /* equivalent to Tailwind's rounded-md */
    z-index: 0;
  }
