.start-card {
  width: 100%; /* 모바일에서는 전체 너비 사용 */
  max-width: 80%; /* 데스크톱에서는 80% 너비 제한 */
  border-radius: 30px;
  background: url('../public/images/start-card.png') lightgray 50% / cover no-repeat;
  margin: 0 auto; /* 중앙 정렬 */
  height: auto; /* 내용에 맞춰 높이 자동 조절 */
  max-height: 400px; /* 최대 높이 설정 */ /* 내용이 넘칠 경우 스크롤 표시 */
  padding: 20px; /* 내부 여백 추가 */
}

.page-bg {
  width: auto;
  max-height: 400px;
  background: url('../public/images/indexBG.png') center/cover no-repeat; /* 배경 이미지 조정 */
}

ul {
    list-style-type: none;
  }
  
  li::before {
    content: "\2022";  /* 유니코드 불릿 포인트 */
    color: #000000;  /* 파란색 (Tailwind의 blue-500에 해당) */
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
  }

  .highlight-container {
    position: relative;
    display: inline-block;
  }
  
  .highlight-text {
    position: relative;
    z-index: 1;
  }
  
  .highlight-background {
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    height: 70%;
    background-color: #fde047; /* Tailwind's yellow-300 */
    border-radius: 0.5rem; /* equivalent to Tailwind's rounded-md */
    z-index: 0;
  }